@import url(http://fonts.googleapis.com/css?family=Russo+One);

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
a {
	font-weight: bold;
	text-decoration: none;
	color: #FFD000;
	
	&:hover {
		text-decoration: underline;
	}
	
	// IE fix
	img {
		border: 0;
	}
}
input {
	font-size: inherit;
}
html {
	height: 100%;
	font-size: 100%;
}
body {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 2%;
	font: 1.2rem arial, sans-serif;
	background-color: #76B9E2;
	color: #333;
}
header.main {
	display: none;
	
	.information {
		display: none;
	}
	.organisation {
		display: none;
	}
}
.stats {
	margin-bottom: 2%;
	display: flex;
	justify-content: center;
	font-family: 'Russo One', sans-serif;

	.stat {
		margin-right: 15px;

		.title {
			display: none;
		}
		.number {
			color: #fff;
		}
	}
}
.chat {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	font-size: 1.5rem;
	
	.messages {
		flex-grow: 1;
		overflow-y: auto;
		line-height: 1.5;
		background-color: #FFF;
		padding: 4%;
		margin-bottom: 2%;
		border-radius: 10px;

		.message{
			&.robot {
				font-weight: bold;
			}
			.author {
				color: #A0A0A0;
				font-style: italic;
			}
		}
	}
	.input {
		display: flex;
		height: 50px;

		.text-box {
			flex: 1;
			height: 100%;
			border: 0;
			outline: 0;
			margin: 0;
			color: #000000;
			padding: 0 4%;
			border-radius: 10px;
		}
		.say-button {
			display: none;
		}
	}
}

@media (min-width: 800px) {
	body {
		flex-direction: row;
		padding: 0;
	}
	header.main {
		flex: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		background-color: #fff;

		.logo {
			width: 60%;
			margin-top: 5%;
		}
		
		h1 {
			margin: 2% 0 5%;
			font-size: 3vw;
			text-transform: uppercase;
			font-family: 'Russo One', sans-serif;
			font-weight: normal;
		}
		.information {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			flex: 1;
			background-color: #286AB0;
			color: #fff;
			padding: 8%;
			
			p {
				overflow-x: auto;
				font-size: 1vw;
			}
			
			.links {
				display: flex;
				justify-content: center;
				
				a {
					img {
						width: 100%;
					}
				}
			}
		}
		.organisation {
			display: block;
			margin: 5%;
			
			img {
				display: block;
			}
		}
	}
	.stats {
		order: 3;
		flex: 1;
		flex-direction: column;
		margin-bottom: 0;
		background-color: #444;
		
		.stat {
			flex: 1;
			margin-right: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			&:nth-child(even) {
				background-color: #4d4d4d;
			}
			.title {
				display: block;
				order: 2;
				color: #FACE20;
				font-size: 1.3vw;
			}
			.icon {
				display: none;
			}
			.number {
				font-size: 3.5vw;
				color: #fff;
			}
		}
	}
	.chat {
		flex: 2;
		padding: 6%;
		
		.input {
			.text-box {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			.say-button {
				display: block;
				height: 100%;
				padding: 0 5%;
				background: -webkit-linear-gradient(#6E6E6E, #535353);
				background: linear-gradient(#6E6E6E, #535353);
				color: #FFF;
				border-top-right-radius: 10px;
				border-bottom-right-radius: 10px;
				font-weight: bold;
				border: 0;
				outline: none;

				&:hover {
					background: -webkit-linear-gradient(#7D7D7D, #626262);
					cursor: pointer;
				}
			}
		}
	}
}