*, *:before, *:after
{
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
a img
{
	border: 0;
}
a
{
	font-weight: bold;
	text-decoration: none;
	color: #FFD000;
}
a:hover
{
	text-decoration: underline;
}
html
{
	height: 100%;
	font-size: 100%;
}
body
{
	margin: 0;
	padding: 0;
	font: 12px arial, sans-serif;
	height: 100%;
	background-color: #76B9E2;
	font-size: 1rem;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 5%;
}
#content
{
	width: 100%;
	max-width: 800px;
}
#stats
{
	text-align: center;
	margin-bottom: 1%;
	overflow: hidden;
}
#stats .stat
{
	margin: 0 5px;
}
#stats .number
{
	margin-left: 5px;
	font-weight: bold;
	color: #fff;
}
#messages
{
	overflow-y: auto;
	height: 300px;
	margin-bottom: 1.5%;
	line-height: 1.5;
	background: #FFF;
	padding: 2%;
	border-radius: 5px;
}
.author
{
	color: #A0A0A0;
	font-style: italic;
}
#input_div
{
	overflow: hidden;
}
#input
{
	width: 100%;
	border: 0;
	outline: 0;
	height: 32px;
	margin: 0;
	color: #000000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 0 2%;
	font-size: inherit;
}
#submit
{
	float: right;
	display: inline-block;
	height: 32px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 6px 5% 0;
	text-align: center;
	background: -webkit-linear-gradient(#6E6E6E, #535353);
	background: linear-gradient(#6E6E6E, #535353);
	color: #FFF;
}
#submit:hover
{
	background: -webkit-linear-gradient(#7D7D7D, #626262);
	text-decoration: none;
}
.left
{
	float: left;
}
.right
{
	float: right;
}
