*, *:before, *:after
{
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.bar_button {
	display: inline-block;
	margin-left: 10px;
	padding: 1px 6px 2px 6px;
	background-color: #2F2F2F;
	text-align: center;
	color: #FFFFFF;
	border: 1px solid #202020;
	border-radius: 6px;
}
.bar_button:hover {
	background-color: #373737;
	text-decoration: none;
}
#bar_logo {
	float: right;
	padding-top: 5px;
}
a img
{
	border: 0;
}
a
{
	font-weight: bold;
	text-decoration: none;
	color: #FFD000;
}
a:hover
{
	text-decoration: underline;
}
h1, h2, p
{
	margin: 0 0 10px 0;
}
input
{
	font-size: inherit;
}
html
{
	height: 100%;
	font-size: 100%;
}
body
{
	margin: 0;
	padding: 0;
	font: 12px arial, sans-serif;
	height: 100%;
	background-color: #94c3e0;
	font-size: 1rem;
	display: -webkit-flexbox;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	justify-content: center;
	padding: 5%;
}
#content
{
	width: 100%;
	max-width: 800px;
}
#stats
{
	text-align: center;
	margin-bottom: 1%;
	overflow: hidden;
}
#stats .stat
{
	margin: 0 5px;
}
#stats .number
{
	margin-left: 5px;
	font-weight: bold;
	color: #fff;
}
#messages
{
	overflow-y: auto;
	height: 300px;
	margin-bottom: 1.5%;
	line-height: 1.5;
	background: #FFF;
	padding: 2%;
	border-radius: 5px;
}
.author
{
	color: #A0A0A0;
	font-style: italic;
}
#input_div
{
	overflow: hidden;
}
#input
{
	width: 100%;
	border: 0;
	outline: 0;
	height: 32px;
	margin: 0;
	color: #000000;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding: 0 2%;
}
#submit
{
	float: right;
	display: inline-block;
	height: 32px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: 6px 5% 0;
	text-align: center;
	background: -webkit-linear-gradient(#6E6E6E, #535353);
	background: linear-gradient(#6E6E6E, #535353);
	color: #FFF;
}
#submit:hover
{
	background: -webkit-linear-gradient(#7D7D7D, #626262);
	text-decoration: none;
}
#footer
{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background: -webkit-linear-gradient(#1F86C9, #0D68A1);
	background: linear-gradient(#1F86C9, #0D68A1);
	border-top: 3px solid #212121;
	padding: 1%;
	color: #FFF;
	overflow: hidden;
}
#footer .sep
{
	margin: 0 3px;
}

.mb { margin-bottom: 10px;}
.b { font-weight: bold; }
.left { float: left; }
.right { float: right; }
