@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,300,700);
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header.main .container, .app .container {
  max-width: 1000px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: #3764BA; }
  a:hover {
    text-decoration: underline; }
  a img {
    border: 0; }

input {
  font: inherit;
  color: inherit; }

html {
  height: 100%;
  font-size: 100%; }

body {
  margin: 0;
  height: 100%;
  padding-top: 68px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background-color: #76B9E2;
  color: #303030; }
  @media (min-width: 450px) and (min-height: 600px) {
    body {
      padding-top: 84px; } }

header.main {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  height: 68px;
  padding: 10px 4%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #fff; }
  @media (min-width: 400px) and (min-height: 600px) {
    header.main {
      height: 84px; } }
  header.main .container {
    height: 100%; }
  header.main .logo {
    float: left;
    height: 100%; }
    header.main .logo img {
      display: block;
      height: 100%; }
  header.main .title {
    display: none; }
    @media (min-width: 400px) {
      header.main .title {
        display: block;
        float: left;
        margin-left: 20px;
        margin-top: 23px;
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 0; } }
  @media (min-width: 400px) and (min-height: 600px) {
    header.main .title {
      margin-top: 30px; } }

    header.main .title a {
      color: inherit; }
      header.main .title a:hover {
        text-decoration: inherit; }
  header.main .menu-toggle {
    float: right;
    height: 32px;
    margin-top: 8px; }
    @media (min-width: 400px) and (min-height: 600px) {
      header.main .menu-toggle {
        height: 48px;
        margin-top: 8px; } }
    header.main .menu-toggle:hover {
      cursor: pointer; }

.menu {
  position: fixed;
  z-index: 5;
  width: 320px;
  top: 68px;
  right: -330px;
  bottom: 0;
  padding-bottom: 64px;
  box-shadow: -2px 0 2px rgba(0, 0, 0, 0.1);
  background-color: #d6efff;
  overflow-y: auto; }
  @media (min-width: 500px) {
    .menu {
      top: 84px; } }
  .menu .about {
    padding: 6%; }
  .menu footer.main {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
    padding: 16px 6%; }
    .menu footer.main .github {
      float: left; }
      .menu footer.main .github img {
        display: block;
        height: 100%; }
    .menu footer.main .organisation {
      float: right; }
      .menu footer.main .organisation img {
        display: block;
        height: 100%; }

.app {
  height: 100%;
  padding: 0 4%; }
  .app .container {
    height: 100%; }
  .app .statistics {
    display: none; }
    @media (min-width: 600px) and (min-height: 600px) {
      .app .statistics {
        display: block;
        float: right;
        width: 140px;
        height: 100%;
        margin-left: 4%;
        padding: 4% 0; } }
  @media (min-width: 600px) and (min-height: 600px) and (min-height: 700px) {
    .app .statistics {
      padding: 8% 0; } }
    @media (min-width: 600px) and (min-height: 600px) {
        .app .statistics .statistic {
          height: 25%; }
          .app .statistics .statistic .icon {
            display: block;
            width: 48px;
            height: 48px;
            margin: 0 auto 10px; }
          .app .statistics .statistic .number {
            font-size: 1.5rem;
            font-weight: bold;
            text-align: center;
            color: #fff; } }
  .app .chat {
    height: 100%;
    overflow: hidden;
    font-size: 1.4rem; }
    @media (min-height: 500px) {
      .app .chat {
        padding-bottom: 4%; } }
    @media (min-height: 700px) {
      .app .chat {
        padding: 8% 0; } }
    .app .chat .messages {
      background-color: #fff;
      height: calc(100% - 55px);
      overflow-y: auto;
      line-height: 1.8;
      padding: 4%; }
      @media (min-height: 700px) {
        .app .chat .messages {
          border-top-left-radius: 10px;
          border-top-right-radius: 10px; } }
      .app .chat .messages .message.robot {
        font-weight: bold; }
        .app .chat .messages .message.robot .text {
          color: #286AB0; }
      .app .chat .messages .message .author {
        margin-right: 5px;
        color: #bbb;
        font-style: italic; }
    .app .chat .text-box {
      width: 100%;
      height: 50px;
      margin-top: 5px;
      padding: 0 20px;
      border: 0;
      outline: 0; }
      @media (min-height: 500px) {
        .app .chat .text-box {
          border-bottom-left-radius: 10px;
          border-bottom-right-radius: 10px; } }

/*# sourceMappingURL=style.css.map */
